/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site
*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module contains specific link stylings across the site.
*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/
.bw-nav a {
  color: #ca3535;
  font-size: 1.875rem;
  text-decoration: underline;
  text-decoration-style: solid;
}

.bw-nav a:visited {
  color: #ca3535;
  font-size: 1.875rem;
}

.bw-nav a:focus {
  color: #dcc7a9;
  font-size: 1.875rem;
  text-decoration: none;
}

.bw-nav a:hover {
  color: #dcc7a9;
  font-size: 1.875rem;
}

/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module contains styles and rules for the events modules
*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/
/* ---- EVENT CALENDAR CLASSES ---- */
.eventtitle {
  font-size: 1.5rem;
  padding-right: 6px;
  padding-left: 6px;
}

.eventdate {
  color: #ca3535;
  padding-right: 6px;
  padding-left: 6px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .eventtitle {
    font-size: 1rem;
  }

  .eventdate {
    font-size: 0.75rem;
  }
}
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module contains image filters and manipulations.
*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/
.grayscale-tn {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.grayscale-tn:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.right-logo-scale {
  height: 256px;
  width: 256px;
}

.drink-svg-sizer {
  height: 117px;
  width: 256px;
}

.right-side-border {
  border: 12px #dcc7a9 solid;
}

.small-svg {
  width: 256px;
  height: 265px;
}

.medium-svg {
  width: 350px;
  height: 350px;
}

.large-svg {
  width: 450px;
  height: 450px;
}

/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes how the top grid that contains the corner logo, menu and events module

*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes how the top grid that contains the corner logo, menu and events module

*/
.header-container-base {
  padding: 0;
  margin: 0;
}

.header-row-pad-reset {
  color: #dcc7a9;
  background-color: #1c1b1b;
  padding: 0;
  margin: 12px;
}

.col-pad-six {
  color: #dcc7a9;
  background-color: #1c1b1b;
  padding: 6px;
}

/* ---- MENU CLASSES ---- */
.header-menu-zero {
  padding: 0;
  margin: 0;
}

.col-pad-zero {
  color: #dcc7a9;
  background-color: #1c1b1b;
  padding: 0;
  margin: 0;
}

.nav-link-size {
  font-size: 3rem;
}

.nav-link-padding {
  padding-right: 6px;
}

/* ---- ADDRESS SPECIFIC CLASSES ---- */
.address-bottom-marg-zero {
  margin-bottom: 0;
}

/* ---- EVENT SPECIFIC CLASSES ---- */
.event-color-inversion {
  color: #1c1b1b;
  background-color: #dcc7a9;
}

.event-base-padder {
  padding: 12px;
}

.event-padder {
  padding: 12px;
}

/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes how the top grid that contains the corner logo, menu and events module

*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes how the top grid that contains the corner logo, menu and events module

*/
.body-container-base {
  padding: 0;
  margin: 0;
}

.body-row-pad-reset {
  color: #dcc7a9;
  background-color: #1c1b1b;
  padding: 0;
  margin: 12px;
}

.twelve-padder {
  padding: 12px;
}

/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes the drinks section

*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes how the top grid that contains the corner logo, menu and events module

*/
.content-sub-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item-name {
  margin-bottom: 0;
}

.item-description {
  color: #ca3535;
}

.item-dotted-border {
  border-bottom: dotted #dcc7a9;
}

@media only screen and (max-width: 600px) {
  .item-dotted-border {
    border-bottom: none;
  }
}
/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module contains styles and rules for the sitewide typography
*/
.cabazon {
  font-family: cabazon, serif;
  font-weight: 500;
  font-style: normal;
}

.amador {
  font-family: amador, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.typew {
  font-family: "coronette", sans-serif;
}

.mono45-reg {
  font-family: mono45-headline, monospace;
  font-weight: 400;
  font-style: normal;
}

.mono45-bold {
  font-family: mono45-headline, monospace;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: #1c1b1b;
  background-color: #dcc7a9;
}

/*# sourceMappingURL=bwater-custom.css.map */
