/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes how the top grid that contains the corner logo, menu and events module

*/

@import 'bwater-custom-colors';

// Font and background color mixins
@mixin set_dark {
    color: $hinted_white;
    background-color: $dark_grey;
}

@mixin set_light {
    color: $dark_grey;
    background-color: $hinted_white;
}

@mixin pad_marg_zero {
    padding: 0;
    margin: 0;
}

// Reset for body container
.body-container-base {
    @include pad_marg_zero();
}

// Set the 6 column body of the container colors and box styles
.body-row-pad-reset {
    @include set_dark();
    padding: 0;
    margin: 12px;
}

// Right side main section image settings
.media-base-padder {
    padding: 12px;
}

.media-padder {
    padding: 12px;
}

.body-media-zero {
    @include pad_marg_zero();
}