/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/

$hinted_white: #dcc7a9;
$dark_grey: #1c1b1b;
$red: #ca3535;
$deep_orange: #F4511E;
$black: #000000;