/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This file contains variables to the colors for the site.

*/

$hinted_white: #EFEBE9;
$dark_grey: #212121;
$red: #B71C1C;
$deep_orange: #F4511E;
$black: #000000;