/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes how the top grid that contains the corner logo, menu and events module

*/

@import 'bwater-custom-colors';
@import 'bwater-custom-mixins';

// Reset for body container
.body-container-base {
    @include pad_marg_zero();
}

// Set the 6 column body of the container colors and box styles
.body-row-pad-reset {
    @include set_dark();
    padding: 0;
    margin: 12px;
}

// Why?
.twelve-padder {
    padding: 12px;
}