/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes the drinks section

*/

@import 'bwater-custom-colors';
@import 'bwater-custom-mixins';

// Set the margin for the sub-section name
.content-sub-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

// Set the margin for the item name
.item-name {
    margin-bottom: 0;
}

// Set the font styles for the description of an item
.item-description {
    color: $red;
}

// Dotted border between item name and price on desktop
.item-dotted-border {
    border-bottom: dotted $hinted_white;
}

// Remove border on mobile
@media only screen and (max-width: 600px) {
    .item-dotted-border {
        border-bottom: none;
    }
}