/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site
*/

@import 'bwater-custom-colors';
@import 'bwater-custom-links';
@import 'bwater-custom-events';
@import 'bwater-custom-images';
@import 'bwater-custom-top-grid';
@import 'bwater-custom-index';
@import 'bwater-custom-menu-content';

// Black background and white font
body {
    margin: 0;
    padding: 0;
    color: #212121;                 // Creamy off white
    background-color: #EFEBE9;      // Not full black - just a bit hinted
}

// Adobe Fonts web font classes

// Cabazon - Old german style script font
.cabazon {
    font-family: cabazon, serif;
    font-weight: 500;
    font-style: normal;
}

// Amador - Old german style script font for headlines
.amador {
    font-family: amador, sans-serif;
    font-weight: 400;
    font-style: normal;
}
// Coronette - Typewriter style font
.typew {
    font-family: "coronette", sans-serif;
}

// Mono45  Headline - Nice heading font (regular and bold variants included)
.mono45-reg {
    font-family: mono45-headline, monospace;
    font-weight: 400;
    font-style: normal;
}

.mono45-bold {
    font-family: mono45-headline, monospace;
    font-weight: 700;
    font-style: normal;
}

// SVG Scalars
.small-svg {
    width: 256px;
    height: 265px;
}

.medium-svg {
    width: 350px;
    height: 350px;
}

.large-svg {
    width: 450px;
    height: 450px;
}

// Menu borders
.menu-border-right {
    border-right: 1px solid #CCC;
}

.menu-border-left {
    border-left: 1px solid #CCC;
}

.menu-border-bottom {
    border-bottom: 1px solid #CCC;
}

// Custom height and padding for splash address
.splash-address {
    padding-top: 64px;
}

// Media query for mobile text
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .eventtitle {
        font-size: 1rem;
    }   
    .eventdate {
        font-size: .75rem;
    }
}