/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module contains specific link stylings across the site.
*/

@import 'bwater-custom-colors';

.bw-nav a {
    color: $red;
    font-size: 1.875rem;
    text-decoration: underline;
    text-decoration-style: solid;
}

.bw-nav a:visited {
    color: $red;
    font-size: 1.875rem;
}

.bw-nav a:focus {
    color: $hinted_white;
    font-size: 1.875rem;
    text-decoration: none;
}

.bw-nav a:hover {
    color: $hinted_white;
    font-size: 1.875rem;
}

// Link buttons
.bw-link-button {
    background-color: $red;
    color: $dark_grey;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    line-height: 28px;
    margin: 4px 12px;
    cursor: pointer;
}

.bw-link-button:hover {
    background-color: $dark_grey;
    color: $hinted_white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    line-height: 28px;
    margin: 4px 12px;
    cursor: pointer;
}