/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site
*/

@import 'bwater-custom-colors';
@import 'bwater-custom-links';
@import 'bwater-custom-events';
@import 'bwater-custom-images';
@import 'bwater-custom-top-grid';
@import 'bwater-custom-index';
@import 'bwater-custom-menu-content';
@import 'bwater-custom-typeography';

// Black background and white font
body {
    margin: 0;
    padding: 0;
    color: #212121;                 // Creamy off white
    background-color: #EFEBE9;      // Not full black - just a bit hinted
}