/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module contains image filters and manipulations.
*/

// Hover effect for images
.grayscale-tn {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.grayscale-tn:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

// Scaling for the main logo
.right-logo-scale {
    height: 256px;
    width: 256px;
}

.drink-svg-sizer {
    height: 117px;
    width: 256px;
}