/* Author Nicholas Fazzolari
   =========================
   Custom CSS rules for the Black Water Bar site

   This class module describes the drinks section

*/

@import 'bwater-custom-colors';
@import 'bwater-custom-mixins';

// Set the font style for the sub heading in the menu
.content-sub-heading {
    font-size: 3rem;
}

// Set font styles for individual items in the menus
.item-name {
    margin-bottom: 0;
}

// Set the font styles for the description of an item
.item-description {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: $red;
}