<!-- Begin menu template structure -->
<div class="row">
    <div class="col-lg text-center amador">
        <h1><perch:content id="heading" type="smarttext" label="Section heading" help="Sets the name of the drink menu section" /></h1>
    </div>
</div>
<!-- Item Row (will need different layouts for different categories, tackle cocktails first) -->
<perch:repeater id="drink_item" label="Cocktail Item" max="100"></perch:repeater>
<div class="row">
    <div class="col-lg mono45-bold">
        <p><perch:content id="cocktail_item_name" type="smarttext" label="cocktail name" /></p>
    </div>
    <div id="period_fill" class="col-lg-4 mono45-reg">..............</div>
    <div class="col-lg-2 mono45-reg">
        <p><perch:content id="cocktail_item_price" type="smarttext" label="cocktail price" /></p>
    </div>
</div>
<div class="row">
    <div class="col-lg mono45-reg event-date-time">
        <p><perch:content id="cocktail_item_description" type="smarttext" label="cocktail description" /></p>
    </div>
</div>
</perch:repeater>
<!-- End menu template strucutre -->