<!-- Cocktails template -->
<!-- Begin menu template structure -->
<div class="row">
    <div class="col-lg amador">
        <h1><perch:content id="heading" type="smarttext" label="Section heading" help="Sets the name of the drink menu section" /></h1>
    </div>
</div>
<!-- Item Row (will need different layouts for different categories, tackle cocktails first) -->
<perch:repeater id="drink_item" label="Cocktail item" max="100">
<div class="row">
    <div class="col-lg-6 col-xs-6 mono45-bold">
        <h2 class="item-name"><perch:content id="cocktail_item_name" type="smarttext" label="Item name" /></h2>
    </div>
    
    <div class="col-lg-6 col-xs-6 text-center mono45-reg">
        <h2 class="item-name"><perch:content id="cocktail_item_price" type="smarttext" label="Item price" /></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg mono45-reg item-description">
        <p><perch:content id="cocktail_item_description" type="smarttext" label="Item description" /></p>
    </div>
</div>
</perch:repeater>
<!-- End menu template strucutre -->