<!-- Straight edge template -->
<!-- Begin menu template structure -->
<div class="row twelve-padder">
    <div class="col amador text-center">
        <h1><perch:content id="heading" type="smarttext" label="Section heading" help="Sets the name of the drink menu section" /></h1>
    </div>
</div>
<!-- Item Row (will need different layouts for different categories, tackle straight_edge first) -->
<perch:repeater id="drink_item" label="Non Alcoholic item" max="100">
<div class="row">
    <div class="col-7 mono45-bold">
        <h4 class="item-name"><perch:content id="straight_edge_item_name" type="smarttext" label="Item name" /></h4>
    </div>
    <div class="col-3 mono45-reg item-dotted-border"></div>
    <div class="col-2 mono45-reg">
        <h4 class="item-name"><perch:content id="straight_edge_item_price" type="smarttext" label="Item price" /></h4>
    </div>
</div>
<div class="row">
    <div class="col mono45-reg item-description">
        <p><perch:content id="straight_edge_item_description" type="smarttext" label="Item description" /></p>
    </div>
</div>
</perch:repeater>
<!-- End menu template strucutre -->